
@{
    ViewBag.Title = "Edit Course";
}

@model StudentManagementSystem.Models.ViewModels.AddCourseModel

<div class="form-header">
    <h2>Edit Course</h2>
    <br />
    <p>Course successfully updated!</p>
    <button type="button" class="btn btn-info" name="backBtn" id="backBtn" onclick="window.location.href='@Url.Action("Catalogue", "Courses")'">Back</button>
</div>
